In [6]:
import pandas as pd

In [8]:

df = pd.read_csv("all_stocks_5yr.csv")
df.head() # to display the first few rows of the data
df.info() # provides a summary of the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  object
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: float64(4), int64(1), object(2)
memory usage: 33.1+ MB

In [9]:
df.dropna(inplace=True)   # To remove null data

In [10]:
df['date'] = pd.to_datetime(df['date']) # Convert the 'date' column to a datetime object
df.set_index('date', inplace=True) # Set the 'date' column as the index

In [11]:
subset = ['AAPL', 'GOOGL', 'AMZN', 'FB', 'MSFT']
df = df[df['Name'].isin(subset)]

In [12]:
print(df.describe())

              open         high          low        close        volume
count  6295.000000  6295.000000  6295.000000  6295.000000  6.295000e+03
mean    303.152237   305.630772   300.408066   303.144455  2.569292e+07
std     310.052199   312.377265   307.396736   310.034711  2.895718e+07
min      22.990000    23.090000    22.670000    22.899000  5.211410e+05
25%      69.070700    69.697100    68.492500    69.069250  3.127776e+06
50%     127.030000   128.040000   126.000000   127.030000  1.973428e+07
75%     536.938200   541.452500   530.400000   536.740000  3.620080e+07
max    1477.390000  1498.000000  1450.040000  1450.890000  3.653806e+08

In [13]:
# Check for duplicates:
print(df.duplicated().sum())

# remove duplicates
df.drop_duplicates(inplace=True)

0

In [14]:
df.to_csv("stocks_demo.csv")